@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("ttf");
   }

body{
    font-family: 'Inter';
    background-color: #fafbff;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}
.body{
    margin: 0 40px;
}
.legend{
    margin: 30px 0 27px 0;
}
.legend-item{
    margin-right: 35px;
}
.legend-circle{
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.first-child{
    flex-grow: 1;
    margin-right: 20px;
}
.block{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px -7px rgba(159, 191, 209, 0.55);
    border-radius: 12px;
    position: relative;
}
.row {
    display: flex;
}
.space-between{
    justify-content: space-between;
}
circle {
    stroke: black;
    opacity: .7;
}
.select{
    margin-left: 33px;
}
.lable{
    color: #8790A6;
    margin: 5px 0 10px 0;
}
select{
    background-color: #EEF3FE;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
}
h1{
    color: #423A3A;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
}
.year{
    font-size: 100px;
    color: #815f5f52;
    position: absolute;
    top: 20px;
    left: 120px;
}
.line-chart-container{
    position: relative;
}
.country-name {
    font-size: 100px;
    color: #815f5f52;
    position: absolute;
    top: 70px;
    left: 120px;
}
.country {
    font-size: 25px;
    font-weight: bold;
}
.side-pan {
    margin: 20px;
}

.range-control{
    padding: 20px 40px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #DAE5FF;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2F82FF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D4E157;
    cursor: pointer;
}